

.wrapper {
    padding: 2rem 1rem;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: auto;

    p {
        color: coral;
    }
}